.home{
    background-color: #eaeded;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    max-width: 1500px;
    z-index: 500;
    margin-left: auto;
    margin-right: auto;
}

.home--container{
    align-items: center;
    justify-content: center;
    margin-top: -250px;
    height: 2000px;
    width: 100%;
}
.home--row{
    font-weight: 10000px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    display: flex;
    /* flex-direction: column; */
    z-index: 1;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 50px; */
}